.container {
  display: flex;
  margin-top: 2rem;
}
.left {
  /* height: min-content; */
  width: 80vw;
  /* border: 2px solid black; */
  margin-right: 3rem;
  margin-left: 2rem;
}
.right {
  width: 20vw;
  height: 80vh;
  margin-right: 1rem;
  background-color: rgb(46, 46, 46);
  color: white;
  padding-left: 1rem;
}

.right div {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.right div > button {
  /* width: 100%; */
  padding-right: 6rem;
  text-align: center;
}

.cartSingleItem img {
  height: 5rem;
  width: 5rem;
}

.outer {
  height: 5rem;
}
.inner {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  margin-right: 1rem,;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inner img {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 5rem;
  width: 5rem;
}

