.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    background-color: rgb(44, 46, 46);
    position: relative;
}

.searchbar{
    width: 48rem;
    height: 2.4rem;
    border-radius: .4rem;
    text-align: center;
    font-size: 1rem;
} 
i{
    font-size: 1.4rem;
    text-align: center;
}
span{
    padding-left: .4rem;
}

.cartbtn{
    height: 2.4rem;
    width: 6rem;
    margin-right: 1.4rem;
    background-color: rgba(0, 190, 0, 0.884);
    border-radius: .4rem;
}
h{
    color: rgb(236, 0, 0);
    font-size: 1.6rem;
    margin-left:1.4rem;
}